
/* estilo geral */


.topo{
    background: white;
    position: fixed;
    bottom: 30px;
    right: -500px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b57d0;
    
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: blue;
    border-radius: 30px;
    height: 20px;
}


.topo i{
    transform: scale(3.20);
    transition: .3s;
}

.topo i:hover{
    transform: scale(4.0);
}

.show-button .topo{
    right: 30px;
    transition: .8s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      
}

body {
    background-color: black;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(17, 17, 29), rgb(0, 0, 0));
    background-size: 500% 100%;
}



@keyframes degrade-anm {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* estilo header */
header{
    padding: 40px 4%;
}

/* estilo menu-mobile */

.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.btn-abrir-menu i{
    color: #ffffff;
    font-size: 40px;
    margin-left: 320px;
}

.btn-abrir-menu{
    display: none;
}
.overlay-menu {
    background-color: rgba(0, 0, 0, 0.633);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
    transition: .3s;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: rgb(3, 3, 66);
}

.menu-mobile .btn-fechar i{
    color: blue;
    font-size: 30px;
}

.btn-fechar{
    padding: 20px 5%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: .2s;
    text-decoration: none;
}
header a:hover{
    color: white;
    transform: scale(1.20);

}
header nav ul{
    list-style-type: none;
}
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
}
header .contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .contato button:hover{
    box-shadow: 0px 0px  8px #370795;
}

/* Estilo topo site */

section.topo-do-site .flex{
     align-items: center;
     justify-content: center;
     gap: 90px;
     padding: 150px;
}
.topo-do-site h1{
    color: white;
    font-size: 38px;
    line-height: 40px;
    font-family: monospace;

}
.topo-do-site .txt-topo-site h1 .curso{
    color: blue;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topo-do-site .txt-topo-site h1 .meu-nome{
    font-size: 100px;
    font-family: monospace;
    display: flex;

}

html {
    scroll-behavior: smooth;
}

.topo-do-site .txt-topo-site p{
    color: white;
    padding: 20px 4%;
}

.about-me .img-topo-site img{
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
    margin-bottom: 250px;
    background-color: blue;
    border-radius: 40px;
    border-width: 10px;
    
}

@keyframes float {
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

.topo-do-site .txt-topo-site button{
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.topo-do-site .txt-topo-site button:hover{
    box-shadow: 0px 0px  8px #370795;
    transform: scaleX(1.20);
    
}

/* parte de baixo */

.about-me .interface h2{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px 40px;
    margin-left: 125px;
}
.about-me .interface h2 span{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-me .interface ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin: 20px;
    display: list-item;
    padding-left: 100px;
    list-style-type: none;

}
.about-me .interface .flex img{
    display: flex;
    max-width: 499px;
    max-height: 499px;
    border-radius: 40px;
    float: left;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    background-color: blue;
    cursor: pointer;
    transition: .2s;
    margin: 10px;
    
}
.about-me .txt-sobre .btn-social button:hover {
    transform: scale(1.20);
    box-shadow: 0px 0px  8px #370795;
}

/* parte de especialidades */

section.especialidades {
    padding: 40px;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .interface h2 {
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px 40px;
    text-align: center;
}

.especialidades .interface h2 span {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px 40px;
    border: 2px solid white;
    margin-top: 45px;
    margin-right: 20px;
    max-width: 340px;
    border-radius: 20px;
    transition: .2s;
    background-color: rgb(4, 3, 64);
    text-align: center;
    align-items: center;
    margin-left: 25px;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.08);
    box-shadow: 0 0 8px #ffffffb0;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: blue;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 10px;
    font-family: monospace;
}

#especialidades .especialidades-box p{
    color: white;
}
/* portfolio */

section.portfolio{
    padding: 80px 4%;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.portfolio .interface h2 {
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px 40px;
    text-align: center;
}

.portfolio .interface h2 span {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .9s;
    position: relative;
    border-radius: 20px;
}

.img-port:hover{
    background-position: 100% 100%;
    transform: scale(1.05);
}

.img-port .overlay span{
    text-align: left;
}

.img-port .overlay p{
    font-size: 24px;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
}

.img-port .overlay button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    background-color: blue;
    cursor: pointer;
    transition: .2s;
    margin: 10px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
    flex-direction: column;
}


.overlay:hover{
    opacity: 100%;
    
}

/* rodapé */

footer{
    padding: 20px 4%;
    box-shadow: 0 0 20px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;

}

footer .line-footer {
    padding: 20px 0;
}


.borda{
    border-top: 2px solid blue;
}

footer .line-footer p i{
    color: #370795;
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
    text-decoration: none;
}

footer .line-footer h2{
    color: white;
    font-size: 38px;
    line-height: 40px;
    font-family: monospace;
}

.modonoturno i{
    color: rgb(255, 255, 255);
}

body{
    transition: background 0.7s linear;
}

body.bright{
    background: white;
    transition: background 0.7s linear;
    
}

body.bright .label{
    background-color: black;
    transition: .2s
}

body.bright .label .ball{
    background-color: white
}

body.bright h1, body.bright h2, body.bright p{
    color: black;
}

body.bright .topo-do-site .interface p{
    color: black;
    font-weight: 400;
}

body.bright .txt-sobre h2{
    color: black;
}

body.bright .txt-sobre ul li{
    color: black;
    font-weight: 200;
}

body.bright .especialidades h2{
    color: black;
}

body.bright #projetos .interface h2{
    color: black
}

body.bright #gmail-footer a{
    color: black;
    font-weight: 100px;
}

body.bright .logo-footer h2{
    color: black
}

body.bright .menu-desktop ul li a{
    color: black;
    font-weight: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body.bright #especialidades .especialidades-box p{
    color: rgb(255, 255, 255);
}

.checkbox{
    opacity: 0;
    position: absolute;

}

.label{
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 50px;
    height: 26px;
    transform: scale(1.40);
}

.label .ball{
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0);
    transition: transform 0.2s linear;
    display: flex;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.label #lua{
    color: #f1c40f;
}

.label #sol{
    color: #f39;
}

/* mensagem animada */

.interface .txt-topo-site h1 .curso{
    position: relative;
}

.interface .txt-topo-site h1 .curso::before{
    content: "";
    animation: palavras 5s infinite alternate;
}

.interface .txt-topo-site h1::after{
    content: "";
    animation: palavras2 5s infinite alternate;
}


@keyframes palavras{
    0%, 50%{
        content: "Software Engineering";
    }
    51%, 100%{
        content: "Just passionate";
    }
}

@keyframes palavras2{
    0%, 50%{
        content: " student";
    }
    51%, 100%{
        content: " about coding.";
    }
}




@media screen and (max-width: 700px) {

    /* classes gerais */

    .flex{
        flex-direction: column;
    }


    /* cabeçalho */
    .menu-desktop, .contato{
        display: none;
    }



/* topo-do-site */

.img-topo-site{
    display: none;
}

.topo-do-site .txt-topo-site h1 .meu-nome{
    font-size: 50px;

}

.topo-do-site .txt-topo-site p{
    text-align: justify;
}

.topo-do-site .img-topo-site img{
    display: flex;
    width: 100%;
    
}

section.topo-do-site {
    padding: 40px 8%;
}

.about-me .interface .flex img{
    display: none;
}

.about-me .interface h2 {
    font-size: 50px;
    text-align: center;
    margin-right: 130px;
}

.about-me .interface ul li{
    justify-content: baseline;
    margin-right: 100px;
}


.especialidades .interface h2 {
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.especialidades .especialidades-box{
    margin: 0 auto;
}

/* portfolio */

section.portfolio{
    padding: 80px 8%;
}

.img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto
}

section.portfolio .flex{
    gap: 40px;
}

section.especialidades {
    padding: 40px 8%;
}

.btn-social{
    margin: 0 auto;
}


.btn-abrir-menu{
    display: block;
}
}

body.bright .btn-abrir-menu i{
    color: black;
}

/*especialidades */

section.especialidades .flex #python-skill{
    margin-top: 55px;
}
